<html>
    <body>
    <div><b>Dear {{fullName}}</b></div>
    <br />
    <br />
    <br />
    <div>We received a request to reset the password on your account. Please use the new password to login and complete the
        reset.</div>
    <br />
    <div>Password: <b>{{newPassword}}</b></div>
    <br />
    <div>Please click on below link to activate your account.</div>
    <br />
    <div style='text-align: center;'>
        <a href="{{loginUserPageUrl}}">
            <input type="submit" class="button" value="Log in" style="
                background-color: #6366f1;
                border: none;
                color: white;
                padding: 8px 68px;
                text-align: center;
                text-decoration: none;
                font-size: 14px;
                border-radius: 4px;
                cursor: pointer;
            " />
        </a>
    </div>
    <br />
    <div>If the link is not working, copy below link into your web browser and
        activate the account.</div>
    <div><u><i>{{loginUserPageUrl}}</i></u></div>
    <br />
    <br />
    <div>Thank you.</div>
    <div>Admin</div>
    </body>
</html>